<configuration>
    <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=todoblobstorage;AccountKey=izdJo2ldJ+bIiEzCGOXWVCIVkVhcgYdjgksb7BolRABWZ02wR3Xrb2t3qXG6ml1cGHjd+e37a+ODWCtyuY20Ig==;EndpointSuffix=core.windows.net"/>
    </appSettings>
</configuration>